<div class="formulario">
    <h1>Formulario Reclutas</h1>
    <form action="" id="formReclutas">
        <label for="" class="bg-danger">Nombre: </label>
        <input type="text" name="NombreRecluta">

        <label for="">Cedula: </label>
        <input type="number" name="CedulaRecluta">

        <label for="">Edad: </label>
        <input type="number" name="EdadRecluta">

        <label for="">Dirección: </label>
        <input type="text" name="DirecciónRecluta">

        <label for="">Teléfono: </label>
        <input type="number" name="TeléfonoRecluta">

        <label for="">Email: </label>
        <input type="text" name="EmailRecluta">

        <label for="">Fecha de Nacimiento: </label>
        <input type="date" name="NacimientoRecluta">

        <label for="">Fecha de Ingreso: </label>
        <input type="date" name="IngresoRecluta">

        <label for="">Team: </label>
        <select name="teamId" id="optionTeam"></select>

        <input type="submit" value="AGREGAR">
    </form>
</div>
<div class="btns">
    <button id="btnMostraReclutas">VER REGISTROS</button>

    <label for="">FILTRAR TEAM</label><br><br>
    <select id="filterTeam"></select>

    <button id="btnFiltrarEdad">FILTRAR MENORES</button>

    <button id="btnFiltrarFecha">FILTRAR POR FECHA</button>
</div>

<div class="inputBuscador">
    <input type="text" id="buscador" placeholder="Buscar">
</div>

<div class="devolverInfo" id="devolverInfo"></div>


<style> 
    *{
        font-family: 'Lobster', cursive;
    }

    .formulario{
        margin-top: 10%;
        color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: 30rem;
        border-right: 1px solid rgb(77, 103, 190);
        border-bottom: 1px solid rgb(77, 103, 190);
        box-shadow: 12px 12px 10px rgb(21, 32, 70);
    }

    .formulario label:first-child{
        margin-top: 3px;
        height: auto;
        position: absolute;
    }

    .formulario label{
        text-align: right;
        margin-top: 52px;
        width: 140px;
        height: auto;
        position: absolute;
        left: 5px;
    }

    .formulario input{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        width: calc(100% - 170px);
        margin-bottom:20px;
        padding: 6px;
        margin-left: 140px;
        outline: none;
        background-color: transparent;
        border-right: 1px solid rgb(77, 103, 190);
        border-bottom: 1px solid rgb(77, 103, 190);
        border-left: none;
        border-top: none;
        box-shadow: 2px 2px 10px rgb(21, 32, 70);
    }

    .formulario select{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(1, 60, 255);
        width: calc(100% - 158px);
        margin-bottom:20px;
        padding: 6px;
        margin-left: 140px;
        outline: none;
        background-color: transparent;
        border-right: 1px solid rgb(77, 103, 190);
        border-bottom: 1px solid rgb(77, 103, 190);
        border-left: none;
        border-top: none;
        box-shadow: 2px 2px 10px rgb(21, 32, 70);
    }

    .formulario input[type=submit]{ 
        font-family: 'Lobster', cursive;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    .btns{
        width: 100%;
        position: absolute;
        left: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btns label{
        color: white;
    }

    .btns button{
        width: 13%;
        padding: 4px;
        margin: 10px;
        color: white;
        background-color: transparent;
        border-right: 1px solid rgb(12, 54, 192);
        border-bottom: 1px solid rgb(12, 54, 192);
        border-left: none;
        border-top: none;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgb(21, 32, 70);
    }

    .btns select{
        width: 10%;
        padding: 4px;
        margin: 10px;
        color: white;
        background-color: transparent;
        border-right: 1px solid rgb(12, 54, 192);
        border-bottom: 1px solid rgb(12, 54, 192);
        border-left: none;
        border-top: none;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgb(21, 32, 70);
    }

    .btns option{
        color: rgb(1, 60, 255);
    }

    .formulario input[type=submit]{
        width: 30%;
        cursor: pointer;
    }

    .devolverInfo{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        left: 0;
        top: 88%;
    }

    .devolverInfo table{
        color: white;
        width: 90%;
    }

    .devolverInfo table thead th{
        border-right: 1px solid rgb(12, 54, 192);
        border-bottom: 1px solid rgb(12, 54, 192);
        box-shadow: 2px 2px 10px rgb(21, 32, 70);
        text-align: center;
        width: 1%;
    }

    .devolverInfo table tbody td{
        border-bottom: 1px solid rgb(169, 182, 226);
        box-shadow: 0px 3px 10px rgb(21, 32, 70);
        text-align: center;
        width: 1%;
    }

    .inputBuscador{
        width: 100%;
        position: absolute;
        left: 0;
        top: 83%;
        display: flex;
        justify-content: center;
    }

    .inputBuscador input{
        width: 23%;
        padding: 5px;
        outline: none;
        text-align: center;
        box-shadow: 13px 13px 10px rgb(21, 32, 70);
        color: rgb(1, 60, 255);
        border-right: 1px solid rgb(12, 54, 192);
        border-bottom: 1px solid rgb(12, 54, 192);
        border-left: none;
        border-top: none;
    }
</style>